<footer>
  <div class="container footer-container">
    <div class="footer-content">
      <ul class="footer-link-list">
        <li class="footer-link-item">
          <a href="#about-us" class="footer-link-item">About us</a>
        </li>
        <li class="footer-link-item">
          <a href="#our-collection" class="footer-link-item">Our collection</a>
        </li>
        <li class="footer-link-item">
          <a href="#customer-order" class="footer-link-item">CUSTOMER ORDER</a>
        </li>
        <li class="footer-link-item">
          <a href="#testimonials" class="footer-link-item">TEstimonials</a>
        </li>
      </ul>
      <p class="footer-logo-descriptions">
        A touch of <span class="orange-color">Ukrainian</span> culture in every
        embroidery
      </p>
    </div>
  </div>
</footer>
