<footer class="container footer-container">
    <ul class="footer-link-list">
        <div class="footer-group-list">
            <li class="footer-link-item">About us</li>
            <li class="footer-link-item">Our collection</li>
        </div>
        <div class="footer-group-list">
            <li class="footer-link-item">CUSTOMER ORDER</li>
            <li class="footer-link-item">TEstimonials</li>
        </div>
    </ul>
    <p class="footer-logo-descriptions">A touch of <span class="orange-color">Ukrainian</span> culture in every embroidery</p>
</footer>