<!-- <header class="header">
  <nav class="nav">
    <ul class="nav-list">
      <li class="nav-item">
        <a href="./page-2.html" class="nav-link">Page 2</a>
      </li>

      <li class="nav-item">
        <a href="./page-3.html" class="nav-link">Page 3</a>
      </li>
    </ul>
  </nav>
</header> -->

<header class="header">
  <div class="header-container container">
    <img src="./img/header/logo.svg" alt="logo" width="44" height="39" />
    <!-- <div class="header-menu">
      <div class="header-phone-wrap">
        <a class="phone-link" href="tel:+380684439426">+380 (68) 443-94-26</a>
        <button type="button" class="menu-close-btn">
          <svg class="menu-close-icon" width="36" height="36">
            <use href="./img/header/x.svg#icon-x"></use>
          </svg>
        </button>
      </div>
    </div> -->
    <div class="header-soc-nav">
      <ul class="header-soc-list">
        <li class="header-soc-item">
          <a href="https://www.facebook.com/goITclub/" class="header-soc-link">
            <svg class="header-soc-icon" width="28" height="28">
              <use href=""></use>
            </svg>
          </a>
        </li>
        <li class="header-soc-item">
          <a href="https://www.instagram.com/goitclub/" class="header-soc-link">
            <svg class="header-soc-icon" width="28" height="28">
              <use href=""></use>
            </svg>
          </a>
        </li>
        <li class="header-soc-item">
          <a href="https://www.youtube.com/c/GoIT" class="header-soc-link">
            <svg class="header-soc-icon" width="28" height="28">
              <use href=""></use>
            </svg>
          </a>
        </li>
      </ul>
      <button type="button" class="header-btn">
        <svg class="header-btn-icon" width="36" height="24">
          <use href="./img/header/nav-btn.svg#icon-nav-btn"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
