<header class="header">
  <div class="header-container container">
    <img src="./img/header/logo.svg" alt="logo" width="44" height="39" />
    <ul>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <button type="button" class="header-btn"></button>
    <!-- !MENU -->
    <div class="menu is-open">
      <div class="menu-wrapper">
        <button type="button" class="menu-btn">
          <svg class="menu-btn-icon" width="" height="">
            <use href=""></use>
          </svg>
        </button>
        <div class="menu-link-wrapper">
          <a href="tel:+380684439426" class="link menu-phone-link">+380 (68) 443-94-26</a>
        </div>
        <ul class="menu-nav-list">
          <li class="nav-item">
            <a href="#about-us" class="nav-link link">About us</a>
          </li>
          <li class="nav-item">
            <a href="#our-collection" class="nav-link link">Our collection</a>
          </li>
          <li class="nav-item">
            <a href="#customer-order" class="nav-link link">CUSTOMER ORDER</a>
          </li>
          <li class="nav-item">
            <a href="#testimonials" class="nav-link link">Testimonials</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
