<section class="hero">
  <div class="container">
    <div class="hero-title-wrap">
      <h1 class="hero-title">
        Reviving the traditional<span> Ukrainian</span> artistry in every
        stitch.
      </h1>
      <a href="#order" class="hero-order-btn link"
        >Order
        <svg class="hero-order-svg" width="26" height="10">
          <use href="./img/hero-img/icons.svg#icon"></use>
        </svg>
      </a>
    </div>
    <picture class="hero-picture">
      <source
        srcset="
          ./img/hero-img/hero-img-dt-1x.jpg 1x,
          ./img/hero-img/hero-img-dt-2x.jpg 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./img/hero-img/hero-img-tab-1x.jpg 1x,
          ./img/hero-img/hero-img-tab-2x.jpg 2x
        "
        media="(min-width: 767px)"
      />
      <source
        srcset="
          ./img/hero-img/hero-img-mob-1x.jpg 1x,
          ./img/hero-img/hero-img-mob-2x.jpg 2x
        "
        media="(max-width: 767px)"
      />
      <img
        src="./img/hero-img/hero-img-mob-1x.jpg"
        alt="Girl in Ukrainian vyshyvanka"
        class="hero-img"
      />
    </picture>
    <div class="hero-star">
      <img
        srcset="
          ./img/hero-img/hero-star-1x.jpg 1x,
          ./img/hero-img/hero-star-2x.jpg 2x
        "
        src="./img/hero-img/hero-star-1x.jpg"
        alt="Label made by hand"
        class="hero-star-img"
        width="52"
        height="51"
      />
      <p class="hero-star-text">all embroidery is made by hand</p>
    </div>
    <picture class="hero-map-picture">
      <source
        srcset="
          ./img/hero-img/hero-map-1440-1x.png 1x,
          ./img/hero-img/hero-map-1440-2x.png 2x
        "
        media="(min-width: 1440px)"
      />
      <source
        srcset="
          ./img/hero-img/hero-map-1280-1x.png 1x,
          ./img/hero-img/hero-map-1280-2x.png 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./img/hero-img/hero-map-tab-1x.png 1x,
          ./img/hero-img/hero-map-tab-2x.png 2x
        "
        media="(min-width: 767px)"
      />
      <img
        src="./img/hero-img/hero-map-tab-1x.png"
        alt="Label Ukrainian map"
        class="hero-map-img"
      />
    </picture>
  </div>
</section>
