<section class="hero">
    <div class="container">
        <div class="hero-wrap">
        <h1 class="hero-title">Reviving the traditional<span> Ukrainian</span> artistry in every stitch.</h1>
        <a href="#order" class="hero-order-btn link">Order
            <svg class="hero-order-svg" width="26" height="10">
                <use href="./images/icons.svg#icon"></use>
            </svg>
        </a>
   </div>
   <picture class="hero-picture">
    <source
      srcset="./images/hero-img-tab-1x.jpg 1x, ./images/hero-img-tab-2x.jpg 2x"
      media="(min-width: 767px)"
    />
    <source
      srcset="./images/hero-img-mob-1x.jpg 1x, ./images/hero-img-mob-2x.jpg 2x"
      media="(max-width: 767px)"
    />
    <img
      src="./images/hero-img-mob-1x.jpg"
      alt="Girl in Ukrainian vyshyvanka"
      class="hero-img"
    />
  </picture>
  <div class="hero-star">
    <img srcset="./images/hero-star-1x.jpg 1x, ./images/hero-star-2x.jpg 2x"
    src="./images/hero-star-1x.jpg"
    alt="Label made by hand"
    class="hero-star-img"
    width="52"
    height="51"/>
    <p class="hero-star-text">all embroidery is made by hand</p>
  </div>
    <picture class="hero-map-picture">
        <source
          srcset="./images/hero-map-1x.png 1x, ./images/hero-map-2x.png 2x"
          media="(min-width: 767px)"
        />
        <img
          src="./images/hero-map-1x.png"
          alt="Label Ukrainian map"
          class="hero-map-img"
        />
      </picture>
</section>