<section class="hero">
  <div class="container">
    <div class="hero-title-wrap">
      <h1 class="hero-title">
        Reviving the traditional<span> Ukrainian</span> artistry in every
        stitch.
      </h1>
      <a href="#customer-order" class="hero-order-btn"
        >Order
        <svg class="hero-order-svg" width="26" height="10">
          <use href="../img/icons.svg#icon-pointer"></use>
        </svg>
      </a>
    </div>
    <picture class="hero-picture">
      <source
        srcset="
          ./img/hero/desctop/hero-desc.jpg    1x,
          ./img/hero/desctop/hero-desc-2x.jpg 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./img/hero/tablet/hero-tab.jpg    1x,
          ./img/hero/tablet/hero-tab-2x.jpg 2x
        "
        media="(min-width: 767px)"
      />
      <source
        srcset="
          ./img/hero/mobile/hero-mob.jpg    1x,
          ./img/hero/mobile/hero-mob-2x.jpg 2x
        "
        media="(max-width: 767px)"
      />
      <img
        src="./img/hero/mobile/hero-mob.jpg"
        alt="Girl in Ukrainian vyshyvanka"
        class="hero-img"
      />
    </picture>
    <div class="hero-star">
      <svg class="hero-star-svg" width="52" height="51">
        <use href="../img/icons.svg#icon-star"></use>
      </svg>
      <p class="hero-star-text">all embroidery is made by hand</p>
    </div>
    <picture class="hero-map-picture">
      <source
        srcset="
          ./img/hero/desctop1440/hero1-desc1440.jpg    1x,
          ./img/hero/desctop1440/hero1-desc1440-2x.jpg 2x
        "
        media="(min-width: 1440px)"
      />
      <source
        srcset="
          ./img/hero/desctop/hero1-desc.jpg    1x,
          ./img/hero/desctop/hero1-desc-2x.jpg 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./img/hero/tablet/hero1-tab.jpg    1x,
          ./img/hero/tablet/hero1-tab-2x.jpg 2x
        "
        media="(min-width: 767px)"
      />
      <img
        src="./img/hero/tablet/hero1-tab.jpg"
        alt="Label Ukrainian map"
        class="hero-map-img"
      />
    </picture>
  </div>
</section>
