<section id="our-collection">
  <div class="container collection">
    <h2 class="collection-title">Our collection</h2>
    <ul class="collection-list">
      <li class="collection-item">
        <picture class="collection-photo">
          <source
            srcset="
              ./img/our_collection/desctop1440/shirt1-desc1440.avif    1x,
              ./img/our_collection/desctop1440/shirt1-desc1440-2x.avif 2x
            "
            media="(min-width:1440px)"
          />
          <source
            srcset="
              ./img/our_collection/desctop/shirt1-desc.avif    1x,
              ./img/our_collection/desctop/shirt1-desc-2x.avif 2x
            "
            media="(min-width:1280px)"
          />

          <source
            srcset="
              ./img/our_collection/tablet/shirt1-tab.avif    1x,
              ./img/our_collection/tablet/shirt1-tab-2x.avif 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./img/our_collection/mobile/shirt1-mob.avif    1x,
              ./img/our_collection/mobile/shirt1-mob-2x.avif 2x
            "
            media="(max-width:767px)"
          />
          <img
            src="./img/our_collection/desctop1440/shirt1-desc1440.avif"
            alt="AUGUST Poltava women's blouseRING"
          />
        </picture>

        <div class="collection-information">
          <h3 class="collection-name">AUGUST Poltava women's blouseRING</h3>
          <p class="collection-price">3300 UAH</p>
        </div>
      </li>
      <li class="collection-item">
        <picture class="collection-photo">
          <source
            srcset="
              ./img/our_collection/desctop1440/shirt2-desc1440.avif    1x,
              ./img/our_collection/desctop1440/shirt2-desc1440-2x.avif 2x
            "
            media="(min-width:1440px)"
          />
          <source
            srcset="
              ./img/our_collection/desctop/shirt2-desc.avif    1x,
              ./img/our_collection/desctop/shirt2-desc-2x.avif 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./img/our_collection/tablet/shirt2-tab.avif    1x,
              ./img/our_collection/tablet/shirt2-tab-2x.avif 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./img/our_collection/mobile/shirt2-mob.avif    1x,
              ./img/our_collection/mobile/shirt2-mob-2x.avif 2x
            "
            media="(max-width:767px)"
          />
          <img
            src="./img/our_collection/mobile/shirt2-mob.avif"
            alt="Women's blouse Gorgany"
          />
        </picture>

        <div class="collection-information">
          <h3 class="collection-name">Women's blouse Gorgany</h3>
          <p class="collection-price">3350 UAH</p>
        </div>
      </li>
      <li class="collection-item">
        <picture class="collection-photo">
          <source
            srcset="
              ./img/our_collection/desctop1440/shirt3-desc1440.avif    1x,
              ./img/our_collection/desctop1440/shirt3-desc1440-2x.avif 2x
            "
            media="(min-width:1440px)"
          />
          <source
            srcset="
              ./img/our_collection/desctop/shirt3-desc.avif    1x,
              ./img/our_collection/desctop/shirt3-desc-2x.avif 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./img/our_collection/tablet/shirt3-tab.avif    1x,
              ./img/our_collection/tablet/shirt3-tab-2x.avif 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./img/our_collection/mobile/shirt3-mob.avif    1x,
              ./img/our_collection/mobile/shirt3-mob-2x.avif 2x
            "
            media="(max-width:767px)"
          />
          <img
            src="./img/our_collection/desctop1440/shirt3-desc1440.avif"
            alt="Women's blouse Crimea"
          />
        </picture>

        <div class="collection-information">
          <h3 class="collection-name">Women's blouse Crimea</h3>
          <p class="collection-price">4000 UAH</p>
        </div>
      </li>
      <li class="collection-item">
        <picture class="collection-photo">
          <source
            srcset="
              ./img/our_collection/desctop1440/shirt4-desc1440.avif    1x,
              ./img/our_collection/desctop1440/shirt4-desc1440-2x.avif 2x
            "
            media="(min-width:1440px)"
          />
          <source
            srcset="
              ./img/our_collection/desctop/shirt4-desc.avif    1x,
              ./img/our_collection/desctop/shirt4-desc-2x.avif 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./img/our_collection/tablet/shirt4-tab.avif    1x,
              ./img/our_collection/tablet/shirt4-tab-2x.avif 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./img/our_collection/mobile/shirt4-mob.avif    1x,
              ./img/our_collection/mobile/shirt4-mob-2x.avif 2x
            "
            media="(max-width:767px)"
          />
          <img
            src="./img/our_collection/desctop1440/shirt4-desc1440.avif"
            alt="Men's shirt Verkhovina"
          />
        </picture>

        <div class="collection-information">
          <h3 class="collection-name">Men's shirt Verkhovina</h3>
          <p class="collection-price">3100 UAH</p>
        </div>
      </li>
      <li class="collection-item">
        <picture class="collection-photo">
          <source
            srcset="
              ./img/our_collection/desctop1440/shirt5-desc1440.avif    1x,
              ./img/our_collection/desctop1440/shirt5-desc1440-2x.avif 2x
            "
            media="(min-width:1440px)"
          />
          <source
            srcset="
              ./img/our_collection/desctop/shirt5-desc.avif    1x,
              ./img/our_collection/desctop/shirt5-desc-2x.avif 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./img/our_collection/tablet/shirt5-tab.avif    1x,
              ./img/our_collection/tablet/shirt5-tab-2x.avif 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./img/our_collection/mobile/shirt5-mob.avif    1x,
              ./img/our_collection/mobile/shirt5-mob-2x.avif 2x
            "
            media="(max-width:767px)"
          />
          <img
            src="./img/our_collection/desctop1440/shirt5-desc1440.avif"
            alt="Mountain men's shirt"
          />
        </picture>

        <div class="collection-information">
          <h3 class="collection-name">Mountain men's shirt</h3>
          <p class="collection-price">3300 UAH</p>
        </div>
      </li>
      <li class="collection-item">
        <picture class="collection-photo">
          <source
            srcset="
              ./img/our_collection/desctop1440/shirt6-desc1440.avif    1x,
              ./img/our_collection/desctop1440/shirt6-desc1440-2x.avif 2x
            "
            media="(min-width:1440px)"
          />
          <source
            srcset="
              ./img/our_collection/desctop/shirt6-desc.avif    1x,
              ./img/our_collection/desctop/shirt6-desc-2x.avif 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./img/our_collection/tablet/shirt6-tab.avif    1x,
              ./img/our_collection/tablet/shirt6-tab-2x.avif 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./img/our_collection/mobile/shirt6-mob.avif    1x,
              ./img/our_collection/mobile/shirt6-mob-2x.avif 2x
            "
            media="(max-width:767px)"
          />
          <img
            src="./img/our_collection/desctop1440/shirt6-desc1440.avif"
            alt="Men's shirt Yasen"
          />
        </picture>

        <div class="collection-information">
          <h3 class="collection-name">Men's shirt Yasen</h3>
          <p class="collection-price">1700 UAH</p>
        </div>
      </li>
    </ul>
  </div>
</section>
