<section class="testimonials">
  <div class="testimonials-container container">
    <h2 class="testimonials-title">Testimonials</h2>
    <ul class="testimonials-list">
      <li class="testimonials-item">
        <div class="testimonials-img">
          <picture>
            <source
              srcset="
                ./img/testimonials/elipse1.jpg,
                ./img/testimonials/elipse1-2x.jpg 2x
              "
              media="(min-width: 375px)"
            />
            <img
              src="./img/testimonials/elipse1.jpg"
              alt="Maria Tkachuk"
              width="64"
              height="64"
              class="photo"
            />
          </picture>
        </div>
        <h3 class="testimonials-subtitle">Maria Tkachuk</h3>
        <p class="testimonials-text">
          I was pleasantly surprised by the variety of embroidery offered by
          Vyshyvanka Vibes. They have models for every taste - from classic to
          modern. I bought an embroidered dress to celebrate a special occasion
          and received impeccable service and refinement in every detail.
        </p>
      </li>
      <li class="testimonials-item sergey">
        <div class="testimonials-img">
          <picture>
            <source
              srcset="
                ./img/testimonials/elipse2.jpg,
                ./img/testimonials/elipse2-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <img
              src="./img/testimonials/elipse2.jpg"
              alt="Sergey Rybachok"
              class="photo"
              width="64"
              height="64"
            />
          </picture>
        </div>
        <h3 class="testimonials-subtitle">Sergey Rybachok</h3>
        <p class="testimonials-text">
          Vyshyvanka Vibes exceeds all my expectations! Their vyshyvanka are
          simply masterpieces! I fell in love with the quality of the materials
          and the skill of the artisans behind each product. This is my favorite
          embroidery shop where I always find something special and unique.
        </p>
      </li>
      <li class="testimonials-item natalia">
        <div class="testimonials-img">
          <picture>
            <source
              srcset="
                ./img/testimonials/elipse3.jpg,
                ./img/testimonials/elipse3-2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <img
              src="./img/testimonials/elipse3.jpg"
              alt="Natalia Chatuk"
              class="photo"
              width="64"
              height="64"
            />
          </picture>
        </div>
        <h3 class="testimonials-subtitle">Natalia Chatuk</h3>
        <p class="testimonials-text">
          Vyshyvanka Vibes is a real find for everyone who appreciates Ukrainian
          culture. Their embroidery reflects the spirit and traditions of our
          people. I not only buy embroidered shirts for myself, but also give
          them to my friends abroad as a symbol of our beauty and national
          pride.
        </p>
      </li>
    </ul>
  </div>
</section>
