<section class="your-order">
    <div class="">
        <div class="back-img">
        </div>
        <div class="container order">
            <h2 class="order-title"><span class="order-title-color">Your order</span> is our priority: Personalized approach and quality of service</h2>
            <form class="order-form">
                <div class="order-item">
                    <label class="order-label" for="user-name"></label>
                    <input type="text" class="form-input" name="user-name" id="user-name" placeholder="Enter your full name" />
                </div>
                <div class="order-item">
                    <label class="order-label" for="user-email"></label>
                    <input type="email" class="form-input" name="user-email" id="user-email" placeholder="Enter your email" />
                </div>
                <div class="order-comment">
                    <label class="order-label" for="form-comment"></label>
                    <textarea class="form-comm" name="form-comment" id="form-comment" rows="7" placeholder="Comments"></textarea>
                </div>
                <button type="submit" class="form-btn">
                    <p class="btn-text">Send</p>
                    <svg class="btn-icon" width="26" height="10">
                        <use href="../img/icons.svg#icon-pointer">
                        </use>
                    </svg>
                </button>
            </form>
        </div>
        <div class="container ornament">
            <picture>
                <source srcset="../img/your_order/tablet/image1-desc1440.jpg 1x, ../img/your_order/tablet/image1-desc1440-2x.jpg 2x" media="(min-width: 1280px)">
                <source srcset="../img/your_order/tablet/image1-desc.jpg 1x, ../img/your_order/tablet/image1-desc-2x.jpg 2x" media="(min-width: 1280px)">
                <source srcset="../img/your_order/tablet/Image1-tab.jpg 1x, ../img/your_order/tablet/Image1-tab-2x.jpg 2x" media="(min-width: 768px)">
                <img
                src="../img/your_order/desctop1440/image1-desc1440.jpg"
                alt="Ornament"
              />
            </picture>
        </div>
    </div>
</section>