.about-us{
    background-color: #1C2225;
    padding: 80px 20px;
}

.title {
    color: #FCF9F9;
    font-family: Manrope;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 44px; /* 137.5% */
    letter-spacing: -0.96px;
    text-align: left;
    margin-bottom: 40px;
}
.about-us-container{
max-width: 335px;
display: flex;
flex-direction: column;
width: 100%;
margin: 0 auto;
flex-wrap: wrap;
justify-content: center;

}
.title-text-first {
    color: rgba(252, 249, 249, 0.40);
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.56px;
    margin-bottom: 20px;
    flex-direction: column;
}
.title-text-second {
    color: rgba(252, 249, 249, 0.40);
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.56px;
    margin-bottom: 50px;
}
.title-picture {
    border-radius: 4px;
    align-items: center;

}

@media screen and (min-width: 768px) {
    
}
@media screen and (min-width: px) {
    
}
@media screen and (min-width: 1158px) {

}
@media screen and (min-width: 1440px) {
    
}
    
