.shirt{
    background-color: #1C2225;
    background-image: 
    url(../img/about_us/mobile/emblem3-mob.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    width: 100%;
  
}
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .shirt {
        background-image: 
        url(../img/about_us/mobile/emblem3-mob-2x.png);
        background-repeat: no-repeat;
        background-position: bottom right;
    }
}
.about-us-container{

display: flex;
flex-direction: column;
width: 100%;
margin: 0 auto;
position: relative;

}
.text-container {
max-width: 335px;
}

.title {
    color: #FCF9F9;
    font-family: Manrope;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 44px; /* 137.5% */
    letter-spacing: -0.96px;
    text-align: left;
    margin-bottom: 40px;
}
.title-text-first {
    color: rgba(252, 249, 249, 0.40);
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.56px;
    margin-bottom: 20px;
    flex-direction: column;
}
.title-text-second {
    color: rgba(252, 249, 249, 0.40);
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.56px;
    margin-bottom: 50px;
}
.title-picture {
    border-radius: 4px;
    align-items: center;
    max-width: 335px;
}


@media screen and (min-width: 768px) {  
    .shirt {
        background-image: 
        url(../img/about_us/tablet/emble3-tab.png);
        background-repeat: no-repeat;
        background-position: bottom right;
    }
    @media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .shirt {
        background-image: 
        url(../img/about_us/tablet/emble3-tab-2x.png);
        background-repeat: no-repeat;
        background-position: bottom right;
    }
}
.container {
    display: flex;
    width: 704px;
}
.about-us-container {
    max-width: 704px;
}
    .title {
        font-size: 44px;
        line-height: 64px; /* 145.455% */
        letter-spacing: -1.32px;
    }

    .title-text-first {
        font-size: 16px;
        letter-spacing: -0.64px;
    }
    .title-text-second{
        margin-bottom: 40px;
        font-size: 16px;
        letter-spacing: -0.64px;
    }
    .title-picture{
        max-width: 100%;
        height: auto;
        max-height: 545px;
    }
}

@media screen and (min-width: 1158px) {
    .shirt {
        background-image: 
        url(../img/about_us/desctop/emblem3-desc.png);
        background-repeat: no-repeat;
        background-position:bottom right;
    }
    @media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .shirt {
        background-image: 
        url(../img/about_us/desctop/emblem3-desc-2x.png);
        background-repeat: no-repeat;
        background-position:bottom right}
.container {
    width: 1080px;
}
    .about-us-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        max-width: 1080px;
    }

    .text-container {
        width: 436px;
    }

    .title-picture {
        max-width: 594px;
        height: 545px;
    }
}


  }

@media screen and (min-width: 1440px){    
    .shirt {
    background-image: 
    url(../img/about_us/desctop1440/emblem3-desc1440.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}


@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
.shirt { background-image: 
    url(../img/about_us/desctop1440/emblem3-desc1440-2x.png);
    background-repeat: no-repeat;
    background-position: right bottom;}}
.container {
        width: 1240px;
    }
    .about-us-container {
        max-width: 1240px;
    }
    .text-container {
        width: 481px;
    }
    .title-picture {
        max-width: 709px;
    }
}