.shirt {
    background-color: #1C2225;
    background-image: url(../img/about_us/mobile/emblem3-mob.png);
    background-repeat: no-repeat;
    background-position: bottom 18px right 0px;
    background-size: 250px 408px;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .shirt {
        background-image:
            url(../img/about_us/mobile/emblem3-mob-2x.png);
        background-repeat: no-repeat;
        background-position: bottom 18px right 0px;
        background-size: 250px 408px;
    }
}

.about-us-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    position: relative;
    padding-bottom: 80px;
}

.title {
    color: #FCF9F9;
    font-family: Manrope;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.375em;
    letter-spacing: -0.03em;
    text-align: left;
    margin-bottom: 40px;
}

.title-text-first {
    color: rgba(252, 249, 249, 0.40);
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    Line-height: 1.45em;
    letter-spacing: -0.04em;
    margin-bottom: 20px;
    flex-direction: column;
}

.title-text-second {
    color: rgba(252, 249, 249, 0.40);
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    Line-height: 1.45em;
    letter-spacing: -0.04em;
    margin-bottom: 50px;
}

.title-picture {
    display: flex;
    border-radius: 4px;
}


@media screen and (min-width: 768px) {
    .shirt {
        background-image:
            url(../img/about_us/tablet/emble3-tab.png);
        background-repeat: no-repeat;
        background-position: bottom 50px right 0px;
        background-size: 369px 484px;
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .shirt {
            background-image:
                url(../img/about_us/tablet/emble3-tab-2x.png);
            background-repeat: no-repeat;
            background-position: bottom 50px right 0px;
            background-size: 369px 484px;
        }
    }

    .container {
        display: flex;
    }

    .about-us-container {
        padding-bottom: 100px;
    }

    .title {
        font-size: 44px;
        letter-spacing: 0.020625em;
    }

    .title-text-first {
        font-size: 16px;
        letter-spacing: -0.64px;
    }

    .title-text-second {
        margin-bottom: 40px;
        font-size: 16px;
        letter-spacing: -0.64px;
    }

    .title-picture {
        display: block;
    }
}

@media screen and (min-width: 1280px) {
    .shirt {
        background-image:
            url(../img/about_us/desctop/emblem3-desc.png);
        background-repeat: no-repeat;
        background-position: bottom 70px right 0px;
        background-size: 385px 483px;
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .shirt {
            background-image:
                url(../img/about_us/desctop/emblem3-desc-2x.png);
            background-repeat: no-repeat;
            background-position: bottom 70px right 0px;
            background-size: 385px 483px;
        }

        .about-us-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 150px;
        }

        .text-container {
            width: 436px;
            margin-right: 50px;
        }

        .title-picture {
            display: block;
        }
    }

}

@media screen and (min-width: 1440px) {
    .shirt {
        background-image:
            url(../img/about_us/desctop1440/emblem3-desc1440.png);
        background-repeat: no-repeat;
        background-position: bottom 70px right 0px;
        background-size: 545px 483px;
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .shirt {
            background-image:
                url(../img/about_us/desctop1440/emblem3-desc1440-2x.png);
            background-repeat: no-repeat;
            background-position: bottom 70px right 0px;
            background-size: 545px 483px;
        }

        .text-container {
            max-width: 481px;
        }

        .title-picture {
            display: block;
        }
    }
}