*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    color: rgba(252, 249, 249, 0.40);
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.04em;
    max-width: 100vw;
    margin: 0;
}
a {
    font-style: normal;
    text-decoration: none;
}
h1, h2, h3 {
    color: #FCF9F9;
    margin: 0;
}
h2 {
    font-size: 32px;
    font-weight: 500;
    line-height: 1.37;
    letter-spacing: -0.03em;
}
.container {    
    margin: 0 auto;
    padding: 0 20px;
    height: auto;
}
p {
    margin: 0;
    padding: 0;
}
ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}
img {
    display: block;
    width: 100%;
    height: auto;
}
@media screen and (min-width: 375px) {
    .container {
        max-width: 375px;
        padding: 0 20px;
    }
}
@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding: 0 32px;
    }
}
@media screen and (min-width: 1280px) {
    .container {
            max-width: 1280px;
            padding: 0 100px;
        }
}
@media screen and (min-width: 1440px) {
    .container {
        max-width: 1440px;
    }
}