body{
    margin: 0;
    background-color: #2c2c2d;
}

.container{
    /* background-color: #6f7071; */
}
footer {
    border-top: 1px solid #FCF9F91A;

}

.footer-container{
    display: flex;
    background-image: url(../img/footer/mobile/emblem-mob.png);
    background-repeat: no-repeat;
    background-position: bottom;
    max-width: 375px;
    margin: 0 auto;
    background-color: #1c2225;
}
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
.footer-container {
    background-image: url(../img/footer/mobile/emblem-mob-2x.png);
    }
}
.footer-flex{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.footer-content{
    display: flex;
    flex-wrap: wrap;
    padding: 40px 20px 292px;
}
.footer-link-list{
    display: flex;
    flex-wrap: wrap;
    text-transform: uppercase;
    color:#fcf9f9;
    gap: 40px;
    margin-bottom: 40px;
}
.footer-link-item{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
}
.footer-link-item:hover{
    color: rgba(236, 217, 121, 1);
}
.footer-group-list{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.footer-logo-descriptions{
    color: #fcf9f9;
    font-size: 44px;
    line-height: 1.23;
    letter-spacing: -0.03em;
    font-weight: 400;
    margin-bottom: 80px;
}
.orange-color{
    color: rgba(236, 217, 121, 1);
}






/* ============================================ 768 ========================================= */



@media screen and (min-width: 768px) {
.footer-container{
    max-width: 768px;
    flex-direction: row;
    background-image: url(../img/footer/tablet/emblem-tab.png);
    background-repeat: no-repeat;
    background-position: right;  
}    
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .footer-container {
        background-image: url(../img/footer/tablet/emblem-tab-2x.png);
    }
}
.footer-content {
    padding: 40px 258px 40px 32px;
}
.footer-link-list{
    margin-bottom: 80px;
    gap: 25px;
}

.footer-group-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    }
.footer-logo-descriptions{
    font-size: 54px;
    line-height: 1.185;
}
}



/* ============================================ 1280 ========================================= */



@media screen and (min-width: 1280px) {
    .container{
        max-width: 1280px;
        margin: 0 auto;
    }
    .footer-container {
        max-width: 1280px;
        flex-direction: row;
        background-image: url(../img/footer/desctop/emblem-desc.png);
        background-repeat: no-repeat;
        background-position: right;

    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .footer-container {
            background-image: url(../img/footer/desctop/emblem-desc-2x.png);
        }
    }
.footer-content {
    padding: 40px 426px 40px 100px;
}
.footer-link-list {
    margin-bottom: 115px;
    gap: 25px;
}
.footer-logo-descriptions {
    font-size: 64px;
    line-height: 1.16;
}
}

/* ============================================ 1440 ========================================= */


@media screen and (min-width: 1440px) {
    .container {
        max-width: 1440px;
        margin: 0 auto;
    }

    .footer-container {
        max-width: 1440px;
        flex-direction: row;
        background-image: url(../img/footer/desctop1440/emblem-desc1440.png);
        background-repeat: no-repeat;
        background-position: right;

    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .footer-container {
            background-image: url(../img/footer/desctop1440/emblem-desc1440-2x.png);
        }
    }

    .footer-content {
        padding: 40px 586px 40px 100px;
    }

    .footer-link-list {
        margin-bottom: 115px;
        gap: 25px;
    }

    .footer-logo-descriptions {
        font-size: 64px;
        line-height: 1.16;
    }
}

/* ============================================ 320 ========================================= */



@media screen and (max-width: 320px) {
.container {
    max-width: 320px;
    margin: 0 auto;
}

.footer-link-list {
    gap: 25px;
}

}