.container{
    background-color: #6f7071;
}
.footer-container{
    display: flex;
    background-image: url(../img/footer/mobile/emblem-mob.png);
    background-repeat: no-repeat;
    background-position: bottom;
    max-width: 375px;
    margin: 0 auto;
    background-color: #1c2225;
    border-top: 1px solid rgba(252, 249, 249, 0.1);
}
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
.footer-container {
    background-image: url(../img/footer/mobile/emblem-mob-2x.png);
    }
}
.footer-flex{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.footer-content{
    display: flex;
    flex-wrap: wrap;
    padding: 40px 20px 292px;
}
.footer-link-list{
    display: flex;
    flex-wrap: wrap;
    text-transform: uppercase;
    color:#fcf9f9;
    gap: 40px;
    margin-bottom: 40px;
}
.footer-link-item{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3;
}
.footer-link-item:hover{
    color: rgba(236, 217, 121, 1);
}
.footer-group-list{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.footer-logo-descriptions{
    color: #fcf9f9;
    font-size: 44px;
    line-height: 1.23;
    letter-spacing: -0.03em;
    font-weight: 400;
    margin-bottom: 80px;
}
.orange-color{
    color: rgba(236, 217, 121, 1);
}






/* ============================================ 768 ========================================= */



@media screen and (min-width: 768px) {
.footer-container{
    max-width: 768px;
    flex-direction: row;
    background-image: url(../img/footer/tablet/emblem-tab.png);
    background-repeat: no-repeat;
    background-position: right;
    height: 100%;
    
}    
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .footer-container {
        background-image: url(../img/footer/tablet/emblem-tab-2x.png);
    }
}
.footer-content {
    padding: 40px 258px 40px 32px;
}
.footer-link-list{
    margin-bottom: 80px;
    gap: 25px;
}
.footer-group-list:last-child .footer-link-item:last-child{
    /* background-color: #fff; */
    gap: 0;
}
.footer-group-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    }
.footer-logo-descriptions{
    font-size: 54px;
    line-height: 1.2;
}
}



/* ============================================ 1228 ========================================= */



@media screen and (min-width: 1280px) {
    .container{
        max-width: 1280px;
    }
    .footer-container {
        max-width: 1280px;
        flex-direction: row;
        background-image: url(../img/footer/desctop/emblem-desc.png);
        background-repeat: no-repeat;
        background-position: right;

    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .footer-container {
            background-image: url(../img/footer/desctop/emblem-desc-2x.png);
        }
    }
.footer-content {
    padding: 40px 426px 40px 100px;
}
.footer-link-list {
    margin-bottom: 115px;
    gap: 25px;
}
.footer-logo-descriptions {
    font-size: 64px;
    line-height: 1.16;
}
}