
.header-section {
  margin: 0 auto;
  padding-top: 20px;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 52px;
}

.logo-img {
  max-width: 44px;
}

.menu {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  width: 274px;
  height: 100vh;
  background-color: #ecd979;
  background-image: url(./img/menu/mobile/emblem1-mob.png);
  background-size: 274px;
  background-repeat: no-repeat;
  background-position: bottom;
  padding-top: 20px;
  margin: 0 auto;
  z-index: 3;
  visibility: hidden;
  opacity: 0;
  pointer-events: auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .menu {
      background-image: url(./img/menu/mobile/emblem1-mob-2x.png);
    }
  }

.menu.is-open {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}

.menu-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 36px;
  height: 36px;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  outline: transparent;
  border: none;
}

.menu-wrapper {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 186px;
}

.menu-phone-wrapper {
  border: 1px solid rgba(28, 34, 37, 0.10);
  width: 118px;
  padding: 12px 20px;
  border-radius: 15px;
  margin-right: auto;
  display: block;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-phone-link {
  display: block;
  color: #1C2225;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
}

/* ==nav-menu */
.menu-nav-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 20px;
}

.nav-link {
  color: #1C2225;
  font-size: 14px;
  line-height: 1.29;
  text-transform: uppercase;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-soc-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
}

.header-soc-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 12px;
}

.header-soc-item {
  width: 44px;
  height: 44px;
}

.soc-link {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.10);
  background-color: rgba(252, 249, 249, 0.10);

  display: flex;
  justify-content: center;
  align-items: center;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-icon {
  fill:#fcf9f9;
}

.header-btn {
  width: 36px;
  height: 24px;
  border: none;
  background-color: transparent;
  outline: transparent;
}

.header-btn-icon {
  fill:#ecd979;
  stroke:#ecd979;
}

/* !=====768===== */
@media screen and (min-width: 768px) {
    .menu {
    width: 380px;
    background-image: url(./img/menu/tablet/emblem1-tab.png);
    background-size: 380px;
  }

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .menu {
      background-image: url(./img/menu/tablet/emblem1-tab-2x.png);
    }
  }

  .menu-btn {
    right: 32px;
    width: 44px;
    height: 44px;
  }

  .menu-wrapper {
    padding: 0 32px;
    gap: 224px;
  }

  .menu-btn-icon {
    width: 44px;
    height: 44px;
  }

  .menu-phone-wrapper {
    width: 137px;
    padding: 14px 28px;
    border-radius: 15px;
  }

  .menu-phone-link {
    font-size: 14px;
    line-height: 1.43;
  }

  /* ==nav menu */
  .menu-nav-list {
    gap: 25px;
  }

  .header-soc-wrapper {
    gap: 20px;
  }
}

/* !=====1280 */
@media screen and (min-width:1280px) {
  .logo-img {
    margin-right: 60px;
  }

  .header-btn {
    display: none;
  }

  .menu {
    position: static;
    transform: none;
    background-color: #1c2225;
    background-image: none;
    background-size: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
    visibility: visible;
    opacity: 1;
    pointer-events: all;
  
    display: flex;
    /* flex-direction: row-reverse; */
    justify-content: space-between;
  }

  .menu-btn {
    display: none;
  }

  .menu-wrapper {
    padding: 0;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    gap: 0;
  }

  .menu-phone-wrapper {
    border: 1px solid rgba(252, 249, 249, 0.10);
    gap: 25px;
    width: 137px;
    margin-right: 0;
  }

  .menu-phone-wrapper:hover,
  .menu-phone-wrapper:focus,
  .soc-link:hover,
  .soc-link:focus {
    border-color: #ecd979;
  }

  .menu-phone-link {
    display: block;
    color: #fcf9f9;
    font-size: 14px;
    line-height: 1.43;
  }

  .menu-nav-list {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
  }

  .nav-link {
    color: #fcf9f9;
  
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link:hover,
  .nav-link:focus {
  color: #ecd979;
}
}

/* !=====1440 */
@media screen and (min-width:1440px) {

  .header-section {
    padding-top: 18px;
  }
}

