.hero {
  background-color: #1c2225;
  color: #fcf9f9;
  width: 100%;
}
.hero .container {
  padding-top: 60px;
  padding-bottom: 80px;
  position: relative;
}
.hero-title {
  font-size: 44px;
  line-height: 1.22;
  letter-spacing: -0.03em;
  font-weight: 400;
  max-width: 335px;
}
.hero-title span {
  color: #ecd979;
}
.hero-order-btn {
  color: #fcf9f9;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  padding: 14px 36px;
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  outline: transparent;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-left: 70px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-order-btn:active,
.hero-order-btn:hover,
.hero-order-btn:focus {
  border-color: #ecd979;
}
.hero-order-svg {
  fill: #ecd979;
}
.hero-title-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  margin-bottom: 40px;
  max-width: 335px;
}
.hero-img {
  border-radius: 4px;
  width: 335px;
  height: 545px;
}
.hero-star-img {
  width: 52px;
  height: 51px;
}
.hero-star {
  display: none;
}
.hero-map-img {
  display: none;
}
@media screen and (min-width: 768px) {
  .hero .container {
    padding-top: 106px;
    padding-bottom: 100px;
  }
  .hero-title {
    font-size: 54px;
    line-height: 1.18;
    max-width: 549px;
  }
  .hero-order-btn {
    padding: 14px 39px;
    margin-left: 141px;
    font-size: 16px;
  }
  .hero-title-wrap {
    max-width: 549px;
    gap: 40px;
  }
  .hero-img {
    width: 413px;
    height: 575px;
  }
  .hero-star {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 115px;
    align-items: center;
    position: absolute;
    top: 80px;
    right: 32px;
  }
  .hero-star-text {
    color: rgba(252, 249, 249, 0.4);
    text-align: center;
    font-size: 16px;
    line-height: normal;
    letter-spacing: -0.04em;
  }
  .hero-map-img {
    display: block;
    position: absolute;
    bottom: 0;
    right: 32px;
    width: 139px;
  }
}
@media screen and (min-width: 1280px) {
  .hero .container {
    padding-top: 100px;
    padding-bottom: 150px;
  }
  .hero-img {
    width: 392px;
    height: 545px;
  }
  .hero-title {
    max-width: 518px;
  }
  .hero-star {
    top: 114px;
    right: 100px;
  }
  .hero-map-img {
    bottom: 51px;
    right: 100px;
  }
  .hero-title-wrap {
    max-width: 518px;
    margin-bottom: 0;
    position: absolute;
    top: 194px;
    left: 532px;
  }
}
@media screen and (min-width: 1440px) {
  .hero-title {
    font-size: 64px;
    line-height: 1.15;
    max-width: 632px;
    padding-right: 2px;
  }
  .hero-title-wrap {
    max-width: 632px;
    top: 166px;
  }
  .hero-star {
    top: 166px;
  }
  .hero-map-img {
    bottom: 150px;
  }
}
